<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear usuario</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Crear usuario</h1>
    <form action="#" th:action="@{/crearUsuario}" th:object="${usuario}" method="post">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" th:field="*{fecha}" required><br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" step="any" id="cantidad" th:field="*{cantidad}" required><br>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" th:field="*{descripcion}" required><br>
        <label for="presupuesto">Presupuesto:</label>
        <select id="presupuesto" name="presupuesto" required>
            <option value="">Selecciona un presupuesto</option>
            <th:block th:each="presupuesto : ${presupuestos}">
                <option th:value="${presupuesto.id}" th:text="${presupuesto.nombre}"></option>
            </th:block>
        </select>
        <button type="submit">Registrar</button>
        <a th:href="@{/listado}">Ver listado</a>
    </form>
</div>

</body>
</html>