<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingresar nómina</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Ingresar nómina</h1>
    <form th:action="@{/ingresarNomina}" th:object="${nomina}" method="post">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" th:field="*{fecha}" required><br>
        <label for="cantidad">Total de la nómina:</label>
        <input type="number" step="any" id="cantidad" th:field="*{totalNomina}" required><br>
        <div th:each="componente, componenteStat : ${nomina.componentes}">
            <div style="display: flex;">
                <label th:for="${'tipo_' + componente.presupuesto.nombre}" th:text="${componente.presupuesto.nombre}" style="flex-basis: 30%;"></label>
                <select th:id="${'tipo_' + componente.presupuesto.nombre}" th:field="*{componentes[__${componenteStat.index}__].tipoComponenteNomina}" style="flex-basis: 30%;">
                    <option value="FIJO">FIJO</option>
                    <option value="PORCENTAJE">PORCENTAJE</option>
                </select>
                <input type="number" step="any" th:id="${'valor_' + componente.presupuesto.nombre}" th:field="*{componentes[__${componenteStat.index}__].valor}" style="flex-basis: 40%;" />
            </div>
        </div>
        <button type="submit">Registrar nómina</button>
    </form>
    <a th:href="@{/listado}">Ver listado</a>
</div>
</body>
</html>