<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Presupuestos</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Listado de Presupuestos</h1>
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Balance</th>
    </tr>
    <tr th:each="presupuesto : ${presupuestos}">
        <td th:text="${presupuesto.nombre}"></td>
        <td th:text="${presupuesto.getTotal()}"></td>
    </tr>
</table>
<h2>Total de gastos: <span th:text="${total}"></span></h2>
<a th:href="@{/registro}">Registrar gasto</a>
<a th:href="@{/listado}">Ver listado</a>
</body>
</html>